.pagination{
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.pagination img {
  height: 40px;
}

#arrow-back {
  margin-left: 20px;
}

#arrow-forward {
  margin-right: 20px;
}

.modal {
    z-index: 1060 !important;
    display: none;
}
.modal-backdrop {
    z-index: 1050 !important;
}