 </tbody>
          </table>

          <!-- Пагінація -->

          <nav aria-label="...">
            <ul class="pagination pagination-sm">
              <li class="page-item active">
                <a class="page-link" aria-current="page">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
            </ul>
          </nav>
        </div>

        <div class="col-12 col-md-6">
          <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Назва книги"
                  aria-label="default input example"
                  id="title"
                />
                <input
                  class="form-control"
                  type="text"
                  placeholder="Рік видання"
                  aria-label="default input example"
                  id="published_year"
                />
                <input class="form-control" type="file" id="img" />

                <div class="placeholderr">
                  <div class="placeholder col-12 " style="height: 170px; width: 100px"></div>
                </div>

                <button type="button" class="btn btn-success" onclick="addBook('title', 'published_year', 'img', 'about', 'name1', 'name2', 'name3')">Додати ></button>
              </div>
              <div class="col">
                <input
                  class="form-control"
                  type="text"
                  placeholder="автор1"
                  aria-label="default input example"
                  id="author1"
                />
                <input
                  class="form-control"
                  type="text"
                  placeholder="автор2"
                  aria-label="default input example"
                  id="author2"
                />
                <input
                  class="form-control"
                  type="text"
                  placeholder="автор3"
                  aria-label="default input example"
                  id="author3"
                />
                <textarea
                  class="form-control"
                  placeholder="Опис книги"
                  id="about"
                  rows="3"                  
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script> 
  function addBook(){
  const apiURL = 'http://localhost:3000/admin/api/v1/addBook';
  const bookTitle = document.getElementById('title')?.value;
  const pathToImg = document.getElementById('img')?.value;
  const publishedYear = document.getElementById('published_year')?.value;
  const about = document.getElementById('about')?.value;
  const authors = [
    document.getElementById('author1')?.value,
    document.getElementById('author2')?.value,
    document.getElementById('author3')?.value
  ].filter(author => author.trim())

  if (!bookTitle || authors.length === 0){
    alert(`Потрібно заповнити обов'язкові поля: Назва книги та Автор`);
    return;
  }

  console.log(authors);
  
  const newBook = {
    bookTitle: bookTitle,
    pathToImg: pathToImg,
    publishedYear: publishedYear,
    about: about,
    authors
  }
  


  fetch(apiURL, {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(newBook) 

})
.then(response => response.json())
.then(result => console.log('Успіх:', result))
.catch(error => console.error('Помилка:', error))
}
</script>